html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

:root {
  --v-black: black;
  --v-body-background: #111414;
  --v-text-white: whitesmoke;
  --v-text-grey: rgba(236, 236, 228, 0.1);
  --v-color-grey: grey;
  --v-color-blue: #57828d;
  --v-color-dark-blue: #30485e;
  --v-color-light-green: #8eac9b;
  --v-color-green: #687f78;
  --v-color-green-2: #758f87;
  --v-color-red: rgb(238, 53, 53);
  /* POPUPS */
  --v-popup-color: rgb(243, 243, 238);
  --v-popup-border: #9c9c9c;
  --v-popup-highlight: #f8faed;
  --v-popup-shadow: #5a5b56;
  --v-popup-background: #cbc8c1;
  --v-popup-content: #212119;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--v-black);
  background-image: url("../asset/the-sky.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: fit-content(300px) 1fr;
  grid-template-rows: 1fr min-content;
}

/* ~~~~~~~~~ */
/* left_block */
/* ~~~~~~~~~ */

#left_block {
  margin-left: 16px;
  margin-top: 14px;
  cursor: default;
  filter: blur(0.4px);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  border-top: 28px solid white;
  grid-row: 1;
  grid-column: 1;
}

#left_block > pre {
  color: var(--v-text-white);
  font-family: "inconsolataCondencedBlack";
  line-height: 1.1;
  opacity: 0.9;
  font-size: 1.2rem;
  margin: 0;
  filter: blur(0.4px);
}

#important_text {
  font-size: 1.5rem;
  filter: blur(0px);
}

#green_glitch {
  color: var(--v-color-green);
  animation: greenstutter 1.2s infinite;
}

@keyframes greenstutter {
  0% {
    color: var(--v-color-green);
  }
  10% {
    color: var(--v-color-green-2);
  }
  20% {
    color: var(--v-color-green);
  }
  30% {
    color: var(--v-color-green-2);
  }
  40% {
    color: var(--v-color-green);
  }
  50% {
    color: var(--v-color-green);
  }
  60% {
    color: var(--v-color-green);
  }
  70% {
    color: var(--v-color-green-2);
  }
  80% {
    color: var(--v-color-green-2);
  }
  90% {
    color: var(--v-color-green);
  }
  100% {
    color: var(--v-color-green);
  }
}

@-webkit-keyframes greenstutter {
  0% {
    color: var(--v-color-green);
  }

  10% {
    color: var(--v-color-green-2);
  }

  20% {
    color: var(--v-color-green);
  }

  30% {
    color: var(--v-color-green-2);
  }

  40% {
    color: var(--v-color-green);
  }

  50% {
    color: var(--v-color-green);
  }

  60% {
    color: var(--v-color-green);
  }

  70% {
    color: var(--v-color-green-2);
  }

  80% {
    color: var(--v-color-green-2);
  }

  90% {
    color: var(--v-color-green);
  }

  100% {
    color: var(--v-color-green);
  }
}

/* ~~~~~~~~~~~ */
/* right block */
/* ~~~~~~~~~~~ */

#right_block {
  width: 100%;
  height: 100%;
  opacity: 0.94;
  z-index: 20;
  grid-row: 1;
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#block_wrapper {
  height: 330px;
  width: 630px;
  background-color: #111414;
  border-top: 0px solid white;
  filter: blur(0.7px);
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr 1fr;
  z-index: 20;
}

.nav_button {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-left: 20px;
  text-decoration: none;
}

.nav_button > p {
  margin: 0px;
}

.nav_button > img {
  height: 110px;
  width: 110px;
}

#right_header {
  cursor: pointer;
  width: 100%;
  height: 29px;
  background-color: white;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

#right_header > Button {
  margin-right: 5px;
  height: 21px;
  width: 21px;
  border-radius: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#right_header > Button > p {
  margin: 0px;
  padding: 0px;
  font-size: 17px;
}

#forever_img {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-left: 20px;
  width: auto;
}

#space_button {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-left: 20px;
  width: auto;
}

.nav_button > p {
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.75rem;
  font-family: "VT323";
}

.nav_button:hover,
#forever_img:hover {
  border: 2px dotted white;
  cursor: pointer;
}

/* ~~~~~~~~~~~~~~~~~~~~~ */
/* Right Block Animation */
/* ~~~~~~~~~~~~~~~~~~~~~ */

/*.window_minimize {
}*/

/* ~~~~~~~~~~~~~~ */
/* button wrapper */
/* ~~~~~~~~~~~~~~ */

.button_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 698px;
  margin-left: 5px;
}

/* ~~~~~~~~~~~ */
/* Black Boxes */
/* ~~~~~~~~~~~ */

#black_top {
  filter: blur(4px);
  background-color: var(--v-black);
  position: absolute;
  top: 0;
  height: 51vh;
  width: 110vw;
  z-index: 100;
  animation: fallaway 0.42s cubic-bezier(0.935, 0.285, 0.945, 0.69) forwards;
  opacity: 0.98;
  margin-left: -10px;
  margin-top: -10px;
}

@keyframes fallaway {
  0% {
    height: 50vh;
  }

  100% {
    height: 0vh;
  }
}

#black_bottom {
  filter: blur(4px);
  background-color: var(--v-black);
  position: absolute;
  bottom: 0;
  height: 51vh;
  width: 110vw;
  z-index: 100;
  animation: fallaway 0.42s cubic-bezier(0.935, 0.285, 0.945, 0.69) forwards;
  opacity: 0.98;
  margin-left: -10px;
  margin-top: -10px;
}

/* ~~~~~ */
/* CLOCK */
/* ~~~~~ */

#clock {
  z-index: 10;
  position: absolute;
  bottom: 52px;
  right: 20px;
  height: auto;
  width: auto;
  color: var(--v-text-white);
  font-family: "VT323";
  font-size: 50px;
}

#clock_text {
  padding-right: 12px;
  filter: blur(0.7px);
}

/* ~~~~~ */
/* HOME */
/* ~~~~~ */

#home_animation {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#home_animation span {
  display: inline-block;
  animation: wave 1.9s ease-in-out infinite;
}

#home_animation span:nth-child(1) {
  animation-delay: 0s;
}

#home_animation span:nth-child(2) {
  animation-delay: 0.25s;
}

#home_animation span:nth-child(3) {
  animation-delay: 0.5s;
}

#home_animation span:nth-child(4) {
  animation-delay: 0.75s;
}

@keyframes wave {
  25% {
    transform: translateY(-3.5px);
  }

  75% {
    transform: translateY(3.5px);
  }
}

/* ~~~~~~~~~~~ */

/* BLINKIES ST */

/* ~~~~~~~~~~~ */

#blinkie_container {
  grid-row: 2;
  grid-column: span 2;
  padding: none;
  margin: none;
  background-color: var(--v-popup-background);
  width: calc(100vw - 6px);
  height: fit content;
  padding-top: 2px;
  border-top: solid 3px var(--v-popup-highlight);
  border-left: solid 3px var(--v-popup-highlight);
  border-bottom: solid 3px var(--v-popup-shadow);
  border-right: solid 3px var(--v-popup-shadow);
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: center;
}

#blinkie_container > img {
  padding: none;
  margin: none;
}

/* ~~~~~~~~~~~~~~~ */
/* MEDIA QUERIES */
/* ~~~~~~~~~~~~~~~ */
@media screen and (max-width: 1025px) {
  #block_wrapper {
    display: flex;
    flex-direction: column;
    width: 315px;
    height: min-content;
  }
}

@media screen and (max-width: 710px) {
  #block_wrapper {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: min-content;
  }
}

@media screen and (max-width: 630px) {
  #block_wrapper {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: min-content;
  }

  #left_block {
    grid-row: 1;
    grid-column: span 2;
    justify-self: center;
  }

  #right_block {
    grid-row: 2;
    grid-column: span 2;
  }

  #clock {
    display: none;
  }

  html,
  body {
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr min-content;
  }

  #blinkie_container {
    margin-top: 20px;
    grid-row: 3;
    grid-column: span 2;
  }
}
