body {
    margin: 0;
    padding: 0;
    background-color: var(--v-black);
    background-image: url('../asset/the-sky.png');
    background-size: cover;
    background-repeat: no-repeat;
}

:root {
    --v-black: black;
    --v-body-background: #111414;
    --v-text-white: whitesmoke;
    --v-text-grey: rgba(236, 236, 228, 0.1);
    --v-color-grey: grey;
    --v-color-blue: #57828d;
    --v-color-dark-blue: #30485e;
    --v-color-light-green: #8eac9b;
    --v-color-green: #687f78;
    --v-color-green-2: #758f87;
    --v-color-red: rgb(238, 53, 53);
  
    /* POPUPS */
  
    --v-popup-color: rgb(243, 243, 238);
    --v-popup-border: #9c9c9c;
    --v-popup-highlight: #f8faed;
    --v-popup-shadow: #5a5b56;
    --v-popup-background: #cbc8c1;
    --v-popup-content: #212119;
  }

  /* ~~~~~~~~~~~ */
  /* Black boxes */
  /* ~~~~~~~~~~~ */

  #blackTop {
    filter: blur(4px);
    background-color: var(--v-black);
    position: absolute;
    top: 0;
    height: 50vh;
    width: 100vw;
    z-index: 100;
    animation: fallaway .45s cubic-bezier(0.935, 0.285, 0.945, 0.690) forwards;
  }

  @keyframes fallaway {
    0% {
        height: 50vh;
    }
    100% {
        height: 0vh;
    }
  }

  #blackBottom {
    filter: blur(4px);
    background-color: var(--v-black);
    position: absolute;
    bottom: 0;
    height: 50vh;
    width: 100vw;
    z-index: 100;
    animation: fallaway .5s forwards;
  }

  /* ~~~~~~~~~ */
  /* Side Text */
  /* ~~~~~~~~~ */

#sideText {
    margin-left: 16px;
    margin-top: 20px;
    cursor: default;
    filter: blur(0.6px);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    border-top: 28px solid white;
}

#sideText > pre {
    color: var(--v-text-white);
    font-family: "inconsolataCondencedBlack";
    line-height: 1.1;
    opacity: .9;
    font-size: 1.2rem;
    margin: 0;
}

#greenGlitch {
    color: var(--v-color-green);
    animation: greenstutter 1.2s infinite;
}

@keyframes greenstutter {
    0% {
        color: var(--v-color-green);
    }
    10% {
        color: var(--v-color-green-2);
    }
    20% {
        color: var(--v-color-green);
    }
    30% {
        color: var(--v-color-green-2);
    }
    40% {
        color: var(--v-color-green);
    }
    50% {
        color: var(--v-color-green);
    }
    60% {
        color: var(--v-color-green);
    }
    70% {
        color: var(--v-color-green-2);
    }
    80% {
        color: var(--v-color-green-2);
    }
    90% {
        color: var(--v-color-green);
    }
    100% {
        color: var(--v-color-green);
    }
}

@-webkit-keyframes greenstutter {
    0% {
        color: var(--v-color-green);
    }
    10% {
        color: var(--v-color-green-2);
    }
    20% {
        color: var(--v-color-green);
    }
    30% {
        color: var(--v-color-green-2);
    }
    40% {
        color: var(--v-color-green);
    }
    50% {
        color: var(--v-color-green);
    }
    60% {
        color: var(--v-color-green);
    }
    70% {
        color: var(--v-color-green-2);
    }
    80% {
        color: var(--v-color-green-2);
    }
    90% {
        color: var(--v-color-green);
    }
    100% {
        color: var(--v-color-green);
    }
}

/* ~~~~ */
/* Body */
/* ~~~~ */

body {
    display: flex;
    flex-direction: row;
}

/* ~~~~~~~~~~~ */
/* right block */
/* ~~~~~~~~~~~ */

#rightBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 93vh;
    padding-left: 26px;
    margin-right: 26px;
    margin-top: 20px;
}

#blockContent {
    height: 100%;
    width: 100%;
}