@font-face {
    font-family: 'radioCanadaRegular';
    src: url('../fonts/Radio_Canada/static/RadioCanada-Regular.ttf')
  }
  @font-face {
    font-family: 'radioCondencedRegular';
    src: url('../fonts/Radio_Canada/static/RadioCanada_Condensed-Regular.ttf');
  }

  @font-face {
    font-family: 'radioBigRegular';
    src: url('../fonts/Radio_Canada_Big/static/RadioCanadaBig-Regular.ttf');
  }

  @font-face {
    font-family: 'radioCondencedSemi';
    src: url('../fonts/Radio_Canada/static/RadioCanada_Condensed-SemiBold.ttf');
  }

  @font-face {
    font-family: 'radioBigSemi';
    src: url('../fonts/Radio_Canada_Big/static/RadioCanadaBig-SemiBold.ttf');
  }

  @font-face {
    font-family: 'zCool';
    src: url('../fonts/ZCOOL_XiaoWei/ZCOOLXiaoWei-Regular.ttf');
  }

  @font-face {
    font-family: 'wittgensteinRegular';
    src: url('../fonts/Wittgenstein/static/Wittgenstein-Regular.ttf');
  }

  @font-face {
    font-family: 'inconsolataRegular';
    src: url('../fonts/Inconsolata/static/Inconsolata-Regular.ttf');
  }

  @font-face {
    font-family: 'inconsolataSemi';
    src: url('../fonts/Inconsolata/static/Inconsolata-SemiBold.ttf');
  }

  @font-face {
    font-family: 'inconsolataCondenced';
    src: url('../fonts/Inconsolata/static/Inconsolata_Condensed-Regular.ttf');
  }

  @font-face {
    font-family: 'inconsolataCondencedSemi';
    src: url('../fonts/Inconsolata/static/Inconsolata_Condensed-SemiBold.ttf');
  }

  @font-face {
    font-family: 'inconsolataCondencedBlack';
    src: url('../fonts/Inconsolata/static/Inconsolata_Condensed-Black.ttf');
  }

  @font-face {
    font-family: 'radioBigBold';
    src: url('../fonts/Radio_Canada_Big/static/RadioCanadaBig-Bold.ttf');
  }