body {
    margin: 0;
    padding: 0;
    background-color: var(--v-black);
    background-image: url('../asset/the-sky.png');
    background-size: cover;
    background-repeat: no-repeat;
}

:root {
    --v-black: black;
    --v-body-background: #111414;
    --v-text-white: whitesmoke;
    --v-text-grey: rgba(236, 236, 228, 0.1);
    --v-color-grey: grey;
    --v-color-blue: #57828d;
    --v-color-dark-blue: #30485e;
    --v-color-light-green: #8eac9b;
    --v-color-green: #687f78;
    --v-color-green-2: #758f87;
    --v-color-red: rgb(238, 53, 53);
  
    /* POPUPS */
  
    --v-popup-color: rgb(243, 243, 238);
    --v-popup-border: #9c9c9c;
    --v-popup-highlight: #f8faed;
    --v-popup-shadow: #5a5b56;
    --v-popup-background: #cbc8c1;
    --v-popup-content: #212119;
  }
 
  /* ~~~~~~~~~ */
  /* Side Text */
  /* ~~~~~~~~~ */

#sideText {
    margin-left: 16px;
    margin-top: 20px;
    cursor: default;
    filter: blur(0.6px);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    border-top: 28px solid white;
}

#sideText > pre {
    color: var(--v-text-white);
    font-family: "inconsolataCondencedBlack";
    line-height: 1.1;
    opacity: .9;
    font-size: 1.2rem;
    margin: 0;
    filter: blur(0.3px);
}

#importantText {
    font-size: 1.4rem;
    filter: blur(0.0px);
}

#greenGlitch {
    color: var(--v-color-green);
    animation: greenstutter 1.2s infinite;
}

@keyframes greenstutter {
    0% {
        color: var(--v-color-green);
    }
    10% {
        color: var(--v-color-green-2);
    }
    20% {
        color: var(--v-color-green);
    }
    30% {
        color: var(--v-color-green-2);
    }
    40% {
        color: var(--v-color-green);
    }
    50% {
        color: var(--v-color-green);
    }
    60% {
        color: var(--v-color-green);
    }
    70% {
        color: var(--v-color-green-2);
    }
    80% {
        color: var(--v-color-green-2);
    }
    90% {
        color: var(--v-color-green);
    }
    100% {
        color: var(--v-color-green);
    }
}

@-webkit-keyframes greenstutter {
    0% {
        color: var(--v-color-green);
    }
    10% {
        color: var(--v-color-green-2);
    }
    20% {
        color: var(--v-color-green);
    }
    30% {
        color: var(--v-color-green-2);
    }
    40% {
        color: var(--v-color-green);
    }
    50% {
        color: var(--v-color-green);
    }
    60% {
        color: var(--v-color-green);
    }
    70% {
        color: var(--v-color-green-2);
    }
    80% {
        color: var(--v-color-green-2);
    }
    90% {
        color: var(--v-color-green);
    }
    100% {
        color: var(--v-color-green);
    }
}

/* ~~~~ */
/* Body */
/* ~~~~ */

body {
    display: flex;
    flex-direction: row;
}

/* ~~~~~~~~~~~ */
/* right block */
/* ~~~~~~~~~~~ */

#rightBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 52px;
    padding-right: 52px;
    margin-right: 10px;
    margin-top: 140px;
    opacity: .9;
    justify-content: center;
    align-items: center;
}

#blockWrapper {
    height: 450px;
    width: 698px;
    background-color: #111414;
    border-top: 28px solid white;
    filter: blur(.6px);
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.navButton {
    background-color: transparent;
    border: none;  
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;  
    padding-left:20px;
    text-decoration: none;
}

.navButton > img {
    height: 110px;
    width: 110px;
}

#foreverImg {
    background-color: transparent;
    border: none;  
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;  
    padding-left:20px;
    width: auto;
}

#spaceButton {
    background-color: transparent;
    border: none;  
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;  
    padding-left:20px;
    width: auto;
}

.navButton > p {
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.75rem;
    font-family: 'VT323';
}

.navButton:hover, #foreverImg:hover {
    border: 2px dotted white;
    cursor: pointer;
}

/* ~~~~~~~~~~~~~~ */
/* button wrapper */
/* ~~~~~~~~~~~~~~ */

.buttonWrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 698px;
    margin-left: 5px;
}

