body {
  margin: 0;
  padding: 0;
  background-color: #010100;
  background-image: url("../asset/the-sky.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#back_button {
  margin-left: 50px;
  color: whitesmoke;
  font-family: "VT323";
  font-size: 50px;
  filter: blur(0.6px);
}

#bandcamp {
  margin-right: 50px;
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 0px;
}

.display_container {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-top: 10px;
  grid-row: 2;
  grid-column: span 2;
}

.mobile_display_container {
  display: none;
}

p > i {
  color: rgb(231, 229, 229);
  font-family: "wittgensteinRegular";
  filter: blur(0.5px);
}

@media screen and (max-width: 775px) {
  .display_container {
    display: none;
  }

  .mobile_display_container {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 540px) {
  header {
    flex-direction: column;
  }

  #back_button {
    margin-left: 50px;
    margin-right: auto;
  }

  #bandcamp {
    margin-right: auto;
    margin-left: auto;
  }
}
